<app-menu-title></app-menu-title>

<div class="container__articles">
    <div class="articles__main">
        <app-big-card
            Id="1" 
            photoCover="https://imgsrv.crunchyroll.com/cdn-cgi/image/fit=contain,format=auto,quality=85,width=1200,height=675/catalog/crunchyroll/8c2a8fcb6dfba195ad4e7486b39339c2.jpg"
            cardTitle="Em breve 2ª temporada de BLUE LOCK"
            cardDescription="Após sofrer um vexame na Copa do Mundo de 2018, a seleção japonesa sofre para se recompor. Falta ao time um artilheiro, uma estrela capaz de guiá-los à vitória."
        ></app-big-card>
    </div>
    <div class="articles__others">
        <app-small-card
            Id="1"
            photoCover="https://imgsrv.crunchyroll.com/cdn-cgi/image/fit=contain,format=auto,quality=85,width=1200,height=675/catalog/crunchyroll/8c2a8fcb6dfba195ad4e7486b39339c2.jpg"
            cardTitle="BLUE LOCK"
        ></app-small-card>
        <app-small-card
            Id="2"
            photoCover="https://imgsrv.crunchyroll.com/cdn-cgi/image/fit=contain,format=auto,quality=85,width=1200,height=675/catalog/crunchyroll/8b7f5847f9b97f921e41d4ef59fd2d79.jpe"
            cardTitle="JUJUTSU KAISEN"
        ></app-small-card>
        <app-small-card
            Id="3"
            photoCover="https://imgsrv.crunchyroll.com/cdn-cgi/image/fit=contain,format=auto,quality=85,width=1200,height=675/catalog/crunchyroll/8f5fce5262796491d3d9332b0e5551bf.jpg"
            cardTitle="BUNGO STRAY DOGS"
        ></app-small-card>
    </div>
</div>