<header>
    <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>

<div class="container__articles">
    <div class="articles__main">
        <app-big-card 
            photoCover="https://imgsrv.crunchyroll.com/cdn-cgi/image/fit=contain,format=auto,quality=85,width=1200,height=675/catalog/crunchyroll/8c2a8fcb6dfba195ad4e7486b39339c2.jpg"
            cardTitle="Titulo de teste para aula de Angular"
            cardDescription="Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s."
        ></app-big-card>
    </div>
    <div class="articles__others">
        <app-small-card
            photoCover="https://imgsrv.crunchyroll.com/cdn-cgi/image/fit=contain,format=auto,quality=85,width=1200,height=675/catalog/crunchyroll/8c2a8fcb6dfba195ad4e7486b39339c2.jpg"
            cardTitle="Titulo de teste para aula de Angular - 1"
        ></app-small-card>
        <app-small-card
            photoCover="https://imgsrv.crunchyroll.com/cdn-cgi/image/fit=contain,format=auto,quality=85,width=1200,height=675/catalog/crunchyroll/8b7f5847f9b97f921e41d4ef59fd2d79.jpe"
            cardTitle="Titulo de teste para aula de Angular - 2"
        ></app-small-card>
        <app-small-card
            photoCover="https://imgsrv.crunchyroll.com/cdn-cgi/image/fit=contain,format=auto,quality=85,width=1200,height=675/catalog/crunchyroll/8f5fce5262796491d3d9332b0e5551bf.jpg"
            cardTitle="Titulo de teste para aula de Angular - 3"
        ></app-small-card>
    </div>
</div>